<div class="box-header with-border">
    <h3 class="box-title">Shipping Prices</h3>
  </div>


<div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th style="width: 10px">#</th>
        <th>Shipping type</th>
        <th>Pressure on Your Wallet</th>
        <th style="width: 120px">Charges in $s</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Overnight</td>
        <td>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
          </div>
        </td>
        <td><span class="badge bg-red">$ 25.99</span></td>
      </tr>
      <tr>
        <td>2.</td>
        <td>2-Days</td>
        <td>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-yellow" style="width: 35%"></div>
          </div>
        </td>
        <td><span class="badge bg-yellow">$ 9.99</span></td>
      </tr>
      <tr>
        <!-- <td>3.</td>
        <td>Cron job running</td>
        <td>
          <div class="progress progress-xs progress-striped active">
            <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
          </div>
        </td>
        <td><span class="badge bg-light-blue">30%</span></td>
      </tr>
      <tr> -->
        <td>3.</td>
        <td>Postal</td>
        <td>
          <div class="progress progress-xs progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: 20%"></div>
          </div>
        </td>
        <td><span class="badge bg-green">$ 2.99</span></td>
      </tr>
    </tbody></table>
  </div>


<!-- <hr>

<h3>Shipping Prices</h3>

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  <span>{{ shipping.type }}</span>
  <span>{{ shipping.price | currency }}</span>
</div> -->



<hr>
<div class="form-group">
    <label>Select any of the below shipping method</label>
    <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
      <option value="25.99" selected="selected">Overnight - $ 25.99</option>
      <option value="25.99">Two Days - $ 9.99</option>
      <option value="25.99">Postal - $ 2.99</option>

    </select>
    
  </div>