<h2>Product Details</h2>


<div class="row">
  <div class="col-xs-12 col-sm-4"><mat-card class="example-card">
    <h3 class="profile-username text-center">{{ product.name }}</h3>
    <div class="box-body box-profile" style="text-align: center">
      <img class = "img-responsive" src="{{product.image}}" height="300" width="300"  alt="User profile picture"> </div></mat-card>
  </div>
  
  <div class="col-xs-12  col-sm-8">
    <div *ngIf="product"></div>
    
    <mat-card class="example-card">
    <p class="text-muted text-center">{{ product.description }}</p>

    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <b>Price</b> <a class="pull-right">{{ product.price | currency }}</a>
      </li>
      <li class="list-group-item">
        <b>Performance</b> <a class="pull-right">{{product.performance}}</a>
      </li>
      <li class="list-group-item">
        <b>Display</b> <a class="pull-right">{{product.display}}</a>
      </li>
      <li class="list-group-item">
        <b>Storage</b> <a class="pull-right">{{product.storage}}</a>
      </li>
      <li class="list-group-item">
        <b>Camera</b> <a class="pull-right">{{product.camera}}</a>
      </li>
      <li class="list-group-item">
        <b>Battery</b> <a class="pull-right">{{product.battery}}</a>
      </li>
    </ul></mat-card>
  </div>
  <div class="col-xs-12  col-sm-12"><br></div>
  <mat-card class="example-card">
  <p class="text-muted text-center">
    {{ product.detail }} </p>

    <p class="text-muted text-center">
      {{ product.detail }} {{ product.detail }} </p>
    </mat-card>
    <div class="col-xs-12  col-sm-12"><br></div>
  <a (click)="addToCart(product)" mat-raised-button color="primary" class="btn btn-primary btn-block"><b>BUY</b></a>
</div>

<!-- <hr>
<h2>Product Details</h2>
<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>
  <button class="btn btn-success" (click)="addToCart(product)">Buy</button>
</div> -->