<div class="row">
  <div class=" col-sm-12">
    <h2>Cart</h2>
  </div>
</div>


<div class="row">
  <div *ngIf="items.length>0">
      <div *ngIf="768 > windowWidth">
    
      <app-total></app-total>
    </div>
  </div>
</div>

<br>
<div class="row">

  <div class="col-sm-7">
    <mat-card class="example-card">
      <div class="box">
        <div class="box-header">

          <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)">
            <div class="box-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label for="inputText" class="col-sm-2 control-label">FullName</label>
                  </div>
                  <div class="col-sm-6">
                    <input formControlName="name" type="text" class="form-control" id="inputText"
                      placeholder="Full Name">
                  </div>
                </div>
              </div>



              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                  </div>
                  <div class="col-sm-6">
                    <input formControlName="email" type="email" class="form-control" id="inputEmail3"
                      placeholder="Email">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                  </div>
                  <div class="col-sm-6">
                    <input formControlName="password" type="password" class="form-control" id="inputPassword3"
                      placeholder="Password">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    Delivery Address:
                  </div>
                  <div class="col-sm-6">
                    <textarea formControlName="address"
                      class="drag">To resize: Click and drag the bottom right corner of this Text box.</textarea>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="checkbox">
                      <label>
                        <input formControlName="checkbox" type="checkbox"> 
                        <span class="checkbox-decorator">
                            <span class="check"></span>
                          </span>
                        Remember me
                      </label>
                    </div>
                  </div>

                  <div class="col">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="fa fa-truck"> Select any of the below shipping method</label>
                        <select class="form-control select2 select2-hidden-accessible " style="width: 100%;"
                          tabindex="-1" aria-hidden="true" formControlName="shipping_value">
                          <option value="25.99" selected="selected">Overnight - $ 25.99</option>
                          <option value="9.99">Two Days - $ 9.99</option>
                          <option value="2.99">Postal - $ 2.99</option>
                          {{shipping_price}}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="box-footer">
                    <button mat-raised-button color="primary" type="submit">Proceed to Pay</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
<br><br>
      </div>
    </mat-card>
  </div>


  <div *ngIf="items.length>0">
    <div *ngIf="windowWidth > 768">
      <app-total></app-total>
    </div>
  </div>
</div>
