<div class="container" style="text-align: center">
  <br>
  <h2>Products</h2>
  <br>

  <div *ngFor="let product of products; index as productId">
    <mat-card class="example-card">

      <mat-card-title>
        <h4> <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
            {{ product.name }}
          </a></h4>
      </mat-card-title>

      <span>
        <mat-card-header style="justify-content: center;">
          <div mat-card-avatar class="example-header-image" [routerLink]="['/products', productId]"
            [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
        </mat-card-header>
      </span>

      <mat-card-content>
        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>
      </mat-card-content>
      <!-- <img mat-card-image src="{{product.image}}" alt="User profile picture"> -->

      <mat-grid-list cols="3" rowHeight="3:1">

        <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="share()">
            Share
          </button>
        </mat-grid-tile>

        <mat-grid-tile>
          <button mat-raised-button color="accent" (click)="cartService.addToCart(product)">Buy</button>
        </mat-grid-tile>

        <mat-grid-tile>
          <app-product-alerts [product]="product" (notify)="onNotify()">
          </app-product-alerts>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card>
    <br>
  </div>
</div>
<!-- *ngFor causes the <div> to be repeated for each product in the list. -->
