<div class="col-xs-12">
  <div class="box">
    <mat-card class="example-card">
      <div class="box-header">
        <h3 class="box-title"></h3>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            
            <tr>
              <th>Product</th>
              <th>Price</th>
            </tr>

            <tr>
              <td><b>SubTotal</b></td>
              <td><span class="label label-info">{{cartService.getTotalPrice() |currency}}</span></td>
            </tr>

            <tr>
              <td><b>Additional Taxes and <br>the Shipping Charges</b></td>
              <td><span>$ 12.5 + {{this.cartService.customer.shipping_value | currency}} </span></td>
            </tr>

            <tr>
              <td><b>Total</b></td>
              <td><span class="label label-info">{{getCalculatedValue()|currency}}</span></td>
            </tr>

          </tbody>
        </table>
      </div>
    </mat-card>
  </div>
</div>
